@font-face {
  font-family: 'Devo Font';
  src: url('assets/fonts/MuseoSansBold.eot');
  src: url('assets/fonts/MuseoSansBold.woff') format('woff'),
  url('assets/fonts/MuseoSansBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Devo Font';
  src: url('assets/fonts/MuseoSansBlack.eot');
  src: url('assets/fonts/MuseoSansBlack.woff') format('woff'),
  url('assets/fonts/MuseoSansBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Devo Font';
  src: url('assets/fonts/MuseoSansMedium.eot');
  src: url('assets/fonts/MuseoSansMedium.woff') format('woff'),
  url('assets/fonts/MuseoSansMedium.ttf') format('truetype');
  font-weight: normal; // 500, 400
  font-style: normal;
}

@font-face {
  font-family: 'Devo Font';
  src: url('assets/fonts/MuseoSansRegular.eot');
  src: url('assets/fonts/MuseoSansRegular.woff') format('woff'),
  url('assets/fonts/MuseoSansRegular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Devo Font';
  src: url('assets/fonts/MuseoSansLight.woff') format('woff'),
       url('assets/fonts/MuseoSansLight.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
html {
  font-size: 0.625rem;
}
body {
  font-size: 1.4rem;
  color: #7c7c7c;
  padding: 0 3rem;
}
body,
input,
textarea,
select,
button {
  font-family: 'Devo Font', sans-serif !important;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  color: #292929;
}
h1 { 
  font-size: 26px;
}
h2 { 
  font-size: 23px;
}
h3 { 
  font-size: 20px;
}
h4 { 
  font-size: 17px;
}
h5 { 
  font-size: 14px;
}
h6 { 
  font-size: 13px;
}
p {
  font-size: 16px;
  font-weight: 300;
}
b,
strong {
  color: #292929;
}
img {
  margin: 0 auto;
  display: block;
}

/* header _______________________________________ */

#header {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: space-between;
  padding: 15px;
  border-bottom: solid 1px #ccc;
  margin: 30px -15px 15px -15px;
}
#header h1 {
  font-weight: 100;
  margin: 0;
  font-size: 36px;
}
#header h4 {
  font-size: 14px;
  margin: 0;
}
#header h4 em {
  font-style: normal;
}

/* first h1 _______________________________________ */

.section.level1 > h1 {
    font-size: 15px;
    color: #9fb214;
    margin: 0;
    font-weight: normal;
    padding: 0 0px;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
 
/* Math Jax */
.mn {
  font-size: 1.6rem;
  color: #7c7c7c;
  position: relative;
}

