@font-face {
  font-family: 'Devo Font';
  src: url('assets/fonts/MuseoSansBold.eot');
  src: url('assets/fonts/MuseoSansBold.woff') format('woff'),
  url('assets/fonts/MuseoSansBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Devo Font';
  src: url('assets/fonts/MuseoSansBlack.eot');
  src: url('assets/fonts/MuseoSansBlack.woff') format('woff'),
  url('assets/fonts/MuseoSansBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Devo Font';
  src: url('assets/fonts/MuseoSansMedium.eot');
  src: url('assets/fonts/MuseoSansMedium.woff') format('woff'),
  url('assets/fonts/MuseoSansMedium.ttf') format('truetype');
  font-weight: normal; // 500, 400
  font-style: normal;
}

@font-face {
  font-family: 'Devo Font';
  src: url('assets/fonts/MuseoSansRegular.eot');
  src: url('assets/fonts/MuseoSansRegular.woff') format('woff'),
  url('assets/fonts/MuseoSansRegular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Devo Font';
  src: url('assets/fonts/MuseoSansLight.woff') format('woff'),
       url('assets/fonts/MuseoSansLight.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
html {
  font-size: 0.625rem;
}
body {
  font-size: 1.4rem;
  color: #7c7c7c;
  padding: 0 3rem 3rem 3rem;
}
body,
input,
textarea,
select,
button {
  font-family: 'Devo Font', sans-serif !important;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  color: #292929;
}
h1 { 
  font-size: 24px;
}
h2 { 
  font-size: 21px;
}
h3 { 
  font-size: 18px;
}
h4 { 
  font-size: 16px;
}
h5 { 
  font-size: 15px;
}
h6 { 
  font-size: 14px;
}
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 15px 0;
}
b,
strong {
  color: #292929;
}
img {
  margin: 0 auto;
  display: block;
}
.main-container {
    max-width: 665px;
    padding: 0 35px 30px 35px;
}

/* sections _______________________________________ */

.section + .section{
  margin-top: 4rem;
}
.section > h3 {
  margin-bottom: 1.5rem;
}

/* header _______________________________________ */

.print-header {
  display: none;
}
#header {
  display: none;
}
#headerTitle {
  margin-top: 40px;
  padding: 15px;
  margin: 30px -15px 35px -15px;
  border-bottom: solid 1px #ccc;
  position: relative;
}
#headerTitle:after {
  content: "";
  left: 0;
  bottom: -1px;
  height: 3px;
  width: 205px;
  background: #9fb214;
  display: block;
  position: absolute;
}
#headerTitle h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 100;
  margin: 0;
  font-size: 34px;
}
#headerTitle h1 strong {
  color: #9fb214;
  font-size: 26px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#headerTitle h1 span {
    flex-shrink: 0;
    padding-right: 5rem;
}

/* Math Jax _________________________________________ */
.MathJax .mn {
  font-family: 'Devo Font', sans-serif !important;
  font-size: 1.6rem;
  color: #7c7c7c;
  position: relative;
}

/* Print Css _________________________________________ */

@media print {
  @page {
    size: auto;
    margin: 10%;
    @top {
      content: 'The header of the page';
    } 
  }
  .print-header { 
    top: 0;
    color: green;
    display: block;
    position: fixed; 
    top: 0;
    width: 100%;
    font-family: 'Devo Font', sans-serif !important;
    background-color: red !important;
    color: #fff;
    font-size: 40px;
  }
  .print-header h1.title::before { 
    content: counter(page) ' / '; 
  }
  
  /* Defining all page breaks */
  a {
    page-break-inside:avoid
  }
  blockquote {
    page-break-inside: avoid;
  }
  h1, h2, h3, h4, h5, h6 {
    page-break-after:avoid; 
    page-break-inside:avoid
  }
  img {
    page-break-inside:avoid; 
    page-break-after:avoid;
  }
  table,
  pre {
    page-break-inside:avoid
  }
  ul,
  ol,
  dl  {
    page-break-before:avoid
  }
}
